/* section {
  padding: 100px 24px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #0a2540;
}

p {
  font-size: 18px;
  color: #5a6b85;
  line-height: 1.6;
} */